
<body>
  <div id="login">
      <h3 class="text-center text-white pt-5">Wisly santos sousa</h3>
      <div class="container">
          <div id="login-row" class="row justify-content-center align-items-center">
              <div id="login-column" class="col-md-6">
                  <div id="login-box" class="col-md-12">
                      <form id="login-form" class="form" action="" method="post">
                          <h3 class="text-center text-info">Login</h3>
                          <div class="form-group">
                              <label for="Nome" class="text-info">Nome:</label><br>
                              <input type="text" name="Nome" id="Nome" class="form-control">
                          </div>
                          <div class="form-group">
                              <label for="senha" class="text-info">Senha:</label><br>
                              <input type="text" name="senha" id="senha" class="form-control">
                          </div>
                          <div class="form-group">
                            <br>
                              <input type="submit" name="Logar" class="btn btn-info btn-md" value="Logar" (click)="ver()">
                          </div>
                      </form>
                  </div>
              </div>
          </div>
      </div>
  </div>
</body>
